*{
    margin: 0 1 em;
}
$nav: pink;

.nav{
    background-color: $nav;
    justify-content: center;
    padding: 1px;
    
    a{
        padding-right: 20px;
        text-decoration: none;
        font-size: 20px;
   
    }
}



@mixin size{
    height: 500px;
    background-color:blue;
    width: auto;
}
.footer{
    p{@include size;}
    
}
.intro{
   
    max-height: 500px;;
    align-content: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px ;
}


.footer{
    background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        ul{ list-style-type: none;
        }
       

        @media screen and (max-width: 800px) {
            display: grid;
            grid-template-columns: 1fr ;
            background-color:whitesmoke;
    
}
}
.first{
    justify-content: center;
}

.button{
   justify-content: center;

}


